@import 'nib'

.clock

  background-color: #444
  display: inline-block
  font-size: 2em
  font-family: sans-serif
  font-weight:bold
  padding: 0.5em
  margin: 0.5em
  color: white

  background-image linear-gradient(top, #666, #222)
  border-radius 0.5em
  box-shadow 0.05em 0.05em 0.2em #222
  text-shadow 0 0 0.2em #000

  span.delimiter
    font-family serif
    margin -0.2em
