.clock {

  /* CSS 2 */
  background-color: #444;
  display: inline-block;
  font-size: 2em;
  font-family: sans-serif;
  font-weight:bold;
  padding: 0.5em;
  margin: 0.5em;
  color: white;

  /* CSS 3 */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#666), to(#222));
  background-image: -webkit-linear-gradient(top, #666, #222);
  background-image:    -moz-linear-gradient(top, #666, #222);
  background-image:      -o-linear-gradient(top, #666, #222);
  background-image:         linear-gradient(to bottom, #666, #222);
  -webkit-border-radius: 0.5em;
          border-radius: 0.5em;
  -webkit-box-shadow: 0.05em 0.05em 0.2em #222;
          box-shadow: 0.05em 0.05em 0.2em #222;
  text-shadow: 0 0 0.2em #000;
}

.clock span.delimiter {
  font-family: serif;
  margin: -0.2em;
}
